a{
    color:#880000;
    text-decoration: none;
    font-size: 17px;
}

a:hover {
    color : red;
}


.dataTable {

    width: 100%;
    background-color: black;

}

.dataTableHead{
    background-color: #faebd7;
}